.popup-cont-bg {
    z-index: 999997;
    background: rgba(0,0,0,0.54);
    width: 100%;
    height: 100%;
    position: fixed;
}
.popup_img_cont {
    z-index: 999998;
}

.popup_vidu_cont {
    position: fixed;
    z-index: 999998;
    width: 800px;
    height: 450px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup_img_cont.popcont > img {
    position: fixed;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;    
    z-index: 999999;
}
.popup_img_cont.popcont > img.vertical {
    max-height: 85%;
    max-width: auto;
}
.popup_img_cont.popcont > img.horizontal {
    max-height: auto;
    max-width: 50%;
}